.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--space-2);
  background-color: var(--color-primary);
  padding: var(--space-3) 0;
}

input {
  width: 100%;
  max-width: 280px;
  padding: var(--space-1);
  border: none;
  font-size: var(--step-1);
  text-align: center;
  color: var(--color-text);
  background: var(--color-base-100);
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
  background: var(--color-secondary);
  color: var(--color-base-content);
  text-transform: uppercase;
  font-weight: 600;
  padding: var(--space-2) var(--space-3);
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.15s ease;

  &:hover {
    transform: scale(1.05);
  }

  .icon {
    display: flex;
    align-items: center;
  }
}

.visuallyHidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}