---
import Icon from "@components/Icons/Icon.astro";
import "./themeToggle.module.scss";

interface Props {
  class?: string;
  lightTheme?: string;
  darkTheme?: string;
}

const {
  class: className = "",
  lightTheme = "light",
  darkTheme = "dark",
} = Astro.props as Props;
---

<label
  class={`swap swap-rotate text-primary ${className}`.trim()}
  for="themeswitch"
  data-theme-switcher
>
  <input
    id="themeswitch"
    type="checkbox"
    class="theme-controller"
    data-theme-toggle-checkbox
    data-light-theme={lightTheme}
    data-dark-theme={darkTheme}
    aria-label="Changer le thème"
  />

  <span class="swap-off">
    <Icon type="sun" size={20} color="var(--color-secondary)"/>
  </span>
  <span class="swap-on">
    <Icon type="moon" size={20} color="var(--color-secondary)"/>
  </span>
</label>

<script src="./themeToggle.client.ts">
</script>
